@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Jersey+10&family=Luckiest+Guy&family=Pacifico&family=Permanent+Marker&family=Sixtyfour&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Bhankas podcast 0.2 font */
.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 3px;
  font-size: 35px;
  background: linear-gradient()
}
/* Phone no. section */
label {
    display: block;
    font-weight: 500;
    margin-bottom: 6px;
  }

  .phone-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #d1d5db;
    border-radius: 12px;
    padding: 10px 14px;
    max-width: 380px;
    background: #fff;
  }

  .prefix {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #333;
  }

  .prefix span {
    margin-right: 4px;
  }

  .divider {
    width: 1px;
    height: 24px;
    background-color: #d1d5db;
    margin: 0 10px;
  }

  input[type="tel"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    color: #111;
  }

  input[type="tel"]::placeholder {
    color: #9ca3af;
  }

  input[type="tel"]:focus {
    outline: none;
  }

  .phone-wrapper:focus-within {
    border-color: #0e69f1;
    box-shadow: 0 0 0 3px rgba(41, 135, 242, 0.15);
  }
/* logo */
.Home {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    margin-right: 25px;
}
/* 0.2 version */
.log-h2{
    margin-left: 12px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}
/* paragraph-sign to your.. */
p{
    display: flex;
    justify-content: center;
    font-size: 17px;
}
/* whole Box property */
.container{
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 420px;
    margin-right: 200px;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 450px;
    border: none;
    border-radius: 20px;
    background-color:white;
    box-shadow: 0px 2px 10px 2px rgba(123, 123, 123, 0.3);
}
a{
    text-decoration: none;
}
.forgot_pass{
    margin-left: 270px;
    color: black;
    font-weight: 500;
}
/* signup button */
.sup{
    margin-left: 5px;
    font-weight: 500;
}
.signup {
  background: linear-gradient(180deg, #4f56ae, #000099);
  color: #fff;
  border: none;
  padding: 10px 182px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}
.signup:hover {
  transform: translateY(-2px);
}
/* Back to Bhankas effect */
.Bhankas{
    padding-bottom: 50px;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

/* Reset password */
.container-reset{
    margin-top: 100px;
    margin-bottom: 140px;
    margin-left: 420px;
    margin-right: 200px;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    border: none;
    border-radius: 20px;
    background-color:white;
    box-shadow: 0px 2px 10px 2px rgba(123, 123, 123, 0.3);
}
/* heading */
.pass-h4{
   padding-top: 20px;
   padding-left: 20px;
   font-family:Georgia, 'Times New Roman', Times, serif;
}
/* paragraph */
.pass-p{
    margin-right: 75px;
}
/* input's */
.address{
    margin-top: 20px;
    margin: 20px;
}
.email{
    padding-top: 40px;
}
/* send reset link effect */
.link {
  background: linear-gradient(180deg, #000000ec, #000000);
  color: #fff;
  border: none;
  padding: 10px 175px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 5px 8px rgba(18, 14, 14, 0.2);
  margin-bottom: 9px;
}

