.container{
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 420px;
    margin-right: 200px;
    justify-content: center;
    align-items: center;  
    height: 865px;
    width: 470px;
    border: none;
    border-radius: 20px;
    background-color:white;
    box-shadow: 0px 2px 10px 2px rgba(123, 123, 123, 0.3);
}
h5{
  margin-left: 125px;
  padding-top: 15px;
  font-weight: bold;
  font-size:20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.signup {
  background: linear-gradient(180deg, #4f56ae, #000099);
  color: #fff;
  border: none;
  padding: 10px 195px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}
.p-required{
  display: inline;
  margin-right: 270px;
  font-size: 14px ;
  margin-bottom: 20px;
} 
.policy{
    margin-left: 9px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    color: rgb(95, 92, 92);
    font-size: 14px;
}
.policy1{
   margin-bottom: 20px;
   color: rgb(95, 92, 92);
   font-size: 14px;
}
.Bhankas{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}